<h1><%= @titulo %> </h1>
<p>Llene el siguiente formulario para registrar una nueva ruta en el sistema.Recuerde que las rutas se guardan en base al destino.</p>
<p></p>
<p></p>
<div class="inputArea">
	<%= error_messages_for :ruta %>
	<%= form_tag ({:action=>"guardar_ruta"}) do %>
		<%= label_tag(:destino,"Destino:") %>
		<%= image_tag("ruta.jpeg",:class=>"imagen_vista")%>
		<br>

		<%= text_field(:ruta,:destino)%>
		<font class="ejemplo">
			Ejm:Distrito Capital.
		</font>
		<p></p>
		<p></p>
		<%= label_tag(:capital,"Capital:") %>
		<br>
		<%= text_field(:ruta,:capital)%>
		<font class="ejemplo">
			Ejm:Caracas
		</font>
		<p></p>
		<p></p>
		
		<%= label_tag(:costo,"Costo:") %>
		<br>
		<%= text_field(:ruta,:costo)%>
		<font class="ejemplo">Ejm:300(Bsf)</font>
		<p></p>
		<p></p>
		<%= label_tag(:tiempo_prom_duracion,"Tiempo Promedio Duracion:") %>
		<br>
		<%= text_field(:ruta,:tiempo_prom_duracion)%>
		<font class="ejemplo">Ejm:40(hrs)</font>
		<p></p>
		<p></p>
		<p></p>
		<p></p>
		<small>
			<%= submit_tag  "Guardar" ,:class=>"boton"%>
		</small>
		<p></p>
	<% end %>	
	<p></p>
	<p></p>
  <small>
		<%= button_to  "Atras" ,{:action=>"index"},:class=>"boton"
		%>
	</small>
</div>



