<h1><%= @titulo %></h1>     

<%=error_messages_for :usuario %> <!-- Esto es en el controlador el @usuario -->

<%= form_tag ({:action=>"cambiando_datos"}) do %>
  <%= label_tag(:Usuario,"Nombre de Usuario") %>
  <br>

  <p>
    <%= text_field_tag(:Usuario,  @usuario.nombre )%>
    <br>
    <font color="#0080FF" size="2">
      Debe tener minimo 15 caracteres.
    </font>
  </p>

  <%= label_tag(:Direccion,"Direccion:") %>
  <br>

  <p>
    <%= text_field_tag(:Direccion,  @usuario.direccion)%>
    <br>
    <font color="#0080FF" size="2">
      Debe tener minimo 15 caracteres.
    </font>
  </p>

  <%= label_tag(:Correo,"Correo:") %>
  <br>

  <p>
    <%= text_field_tag(:Correo, @usuario.correo)%>
    <br>
    <font color="#0080FF" size="2">
      Debe seguri con el formato aaa123@algo.com
    </font>
  </p>
  <%= submit_tag  "Guardar" ,:class=>"boton", :confirm => "Esta usted seguro que quiere cambiar su datos?" %>
  <p></p>
  

<% end %>

<%= button_to  "volver atras" ,{:action=>"index"},:class=>"boton"
    %>
  