<h1><%= @titulo %></h1>  

<div class="inputArea">
<%=error_messages_for :usuario %>

<%= form_tag ({:action=>"cambiando_clave"}) do %>

<%= label_tag(:clave_vieja,"Inserte Clave Vieja") %>
  <br>

  <p><%= password_field(:usuario, :clave_vieja)%>
    <font class="ejemplo">
           Debe tener por lo menos 6 caracteres alfanumericos.
    </font>
  </p>

  <%= label_tag(:Clave,"Clave Nueva:") %>
  <br>

  <p>
    <%= password_field(:usuario, :Clave)%>
    <font class="ejemplo">
      Debe tener por lo menos 6 caracteres alfanumericos.
    </font>
  </p>

  <%= label_tag(:Clave_confirmation,"Repetir Clave Nueva:") %>

  <br>

  <p>
    <%= password_field(:usuario,:Clave_confirmation)%>
    <font class="ejemplo">
    Debe tener por lo menos 6 caracteres alfanumericos.
    </font>
  </p>  
  <p></p>
  <p></p>
  <%= submit_tag  "Guardar" ,:class=>"boton", :confirm => "Esta usted seguro que quiere cambiar su clave?" %>
  <p></p>
  <p></p>
  <p></p>
<% end %>
  <%= button_to  "volver atras" ,{:action=>"index"},:class=>"boton"
    %>
</div>