<h1><%=@titulo %></h1>
<p></p>
<%= image_tag("cliente.jpeg",:class=>"imagen_vista")%>
<p>Seleccione su opción: </p>
<p></p>

		<%= button_to  "Ver mis Solicitudes" ,{:action=>"ver_mis_solicitudes"},:class=>"boton2"%>
		<p></p>
		<p></p>
		<%= button_to  "Ver mis facturas" ,{:action=>"ver_mis_facturas"},:class=>"boton2"
		%>
		<p></p>
		<p></p>
		<%= button_to  "Cambiar mis datos" ,{:action=>"cambiar_datos"},:class=>"boton2"
		%>
		<p></p>
		<p></p>
		<%= button_to  "Cambiar mi Clave" ,{:action=>"cambiar_clave"},:class=>"boton2"
		%>


