<h1><%=@titulo%></h1>

<p>Que deseas realizar:</p>
<%= image_tag("admin.jpeg",:class=>"imagen_vista")%>
<%= button_to  "Gestionar Cliente" ,{:controller=>"configuracion_usuarios",:action=>"index"},:class=>"boton2"%>
		<p></p>
		<p></p>

		<%= button_to  "Gestionar Rutas" ,{:controller=>"cofiguracion_rutas",:action=>"index"},:class=>"boton2"
		%>
		<p></p>
		<p></p>
		<%= button_to  "Ver Reportes" ,{:action=>"index"},:class=>"boton2"
		%>
		<p></p>
		<p></p>
		<%= button_to  "Cambiar mis datos" ,{:action=>"cambiar_datos"},:class=>"boton2"
		%>
		<p></p>
		<p></p>
		<%= button_to  "Ver Log" ,{:action=>"ver_bitacora"},:class=>"boton2"
		%>
		<p></p>
		<p></p>
		<%= button_to  "Gestionar Solicitudes" ,{:controller=>"gestionar_solicitudes",:action=>"index"},:class=>"boton2"%>
		<p></p>
		<p></p>
		<%= button_to  "Salir" ,{:action=>"cerrar_sesion_admin"},:class=>"boton2"
		%>
