<h1><%= @titulo %> </h1>
<p>Llene el siguiente formulario para registrar una nueva Oferta en el sistema. Recuerde que las ofertas se guardan en base al nombre.</p>
<p></p>
<p></p>
<div class="inputArea">
	<%= error_messages_for :ofertas %>
	<%= form_tag ({:action=>"guardar_oferta"}) do %>
		<%= label_tag(:nombre_Oferta,"Nombre de la Oferta:") %>
		<%= image_tag("ruta.jpeg",:class=>"imagen_vista")%>
		<br>
		<%= text_field(:oferta,:nombre_Oferta)%>
		<font class="ejemplo">Ejm:Buena Oferta</font>
		<p></p>
		<p></p>
		<%= label_tag(:descuento,"Descuento:") %>
		<br>
		<%= text_field(:oferta,:descuento)%>
		<font class="ejemplo">Ejm:50</font>
		<p></p>
		<p></p>
		
		<%= label_tag(:fecha_Inicio,"Fecha de inicio:") %>
		<br>
		<%= text_field(:oferta,:fecha_Inicio)%>
		<font class="ejemplo">Ejm:2012-06-08</font>
		<p></p>
		<p></p>
		<%= label_tag(:fecha_Fin,"Fecha de fin:") %>
		<br>
		<%= text_field(:oferta,:fecha_Fin)%>
		<font class="ejemplo">Ejm:2012-06-12</font>
		<p></p>
		<p></p>
		<p></p>
		<p></p>
		<small>
			<%= submit_tag  "Guardar" ,:class=>"boton"%>
		</small>
		<p></p>
	<% end %>	
		<p></p>
		<p></p>
	  <small>
			<%= button_to  "Atras" ,{:action=>"index"},:class=>"boton"
			%>
		</small>
</div>

