<h1><%= @titulo %> </h1>
<p></p>
<p></p>
<%= form_tag ({:action=>"guardar_cambios_solicitud"}) do %>
	<%= hidden_field(:solicitud,:id_solicitudes, :value=>@solicitud.id_solicitudes) %>
	<%= label(:solicitud,:destino,"Ruta Final:")%>
	<b><%=@solicitud.obtener_destino%></b>
	<p></p>
	<%= label(:solicitud,:ruta_id_actual,"Ruta Actual:")%>
	<%= collection_select(:solicitud,:ruta_id_actual,@rutas,:id_ruta,:destino,:prompt=>"Seleccione un Destino")%>
	<p></p>
	<p></p>
	<%= label(:solicitud,:estado,"Estado Actual:")%>
	<%= select(:solicitud,:estado,@estados,:prompt=>"Seleccione un Estado")%>
	<p></p>
	<p></p>
	<small>
		<%= submit_tag  "Actualizar" ,:class=>"boton"%>
	</small>
<%end %>
	<p></p>
	<p></p>
	<p></p>
	<p></p>
<h2>Opciones:</h2>
<p></p>
<small>
	<%= button_to  "Atras" ,{:controller=>"gestionar_solicitudes",:action=>"index"},:class=>"boton"
	%>
</small>
